body{
    font-family: 'roboto', sans-serif;
}

.logo{
    width: auto;
    height: 3rem;
}

nav.abajo{
  background: #fff;
  box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.75);
  transition: 0.5s;
}

.menu{
  font-weight: bold;
}


.carousel-caption{
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    margin: 0 auto;
}


 .slide1 {
    background-image: url("../img/slideGirl.jpg");
    height: 99vh;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
  }

  .slide2 {
    background-image: url("../img/playa.jpg");
    height: 99vh;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
  }

  .slide3 {
    background-image: url("../img/aeropuerto.jpg");
    height: 99vh;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
  }

  /*-----------------------------------SERVICIOS*/

  .servicios{
    text-align: center;
    padding-top: 1.5rem;
  }

  .tabla{
    margin-top: 2rem;
  }

  .fila2{
    margin-top: 3rem;
  }

  .foot{
    background-color: #333333;
  }

  .logo-foot{
    width: 50%;
    display: block;
    margin-top: -1rem;
  }


  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.05);
    cursor: pointer;
    /*text-decoration: underline;*/ 
  }

  a{
   text-decoration: none;
   color: black;
  }

  
  /* Add some padding inside the card container */
  .containers {
    padding: 8px 14px;
  }
    /*---------------------------IR ARRIBA BTN----------------------------------------------------*/

  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: blue; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 12px; /* Some padding */
    border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;

  }
  
    .arriba {
    font-size: 2rem;
  }

  .duplicado{
    font-size: 10rem;
    opacity: 0.2;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 8rem;
    font-weight: bold;
  }

  .serv-text{
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0.45;
    letter-spacing: 2rem;
  }


      /*---------------------------imagen cabecera----------------------------------------------------*/
      .transport-head, .traslado-head, .excursions-head, .golf-head, .renthome-head, .rentcar-head{
        height: 69vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
      }

      .transport-head {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/slideGirl.jpg");
      }

      .traslado-head {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/aeropuerto.jpg");
      }

      .excursions-head {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/playa.jpg");
      }

      .golf-head {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/golf.jpg");
      }

      .renthome-head {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/rentapto.jpg");
      }

      .rentcar-head {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/rentacarro.jpg");
      }
      
      .transport-text, .traslado-text, .excursions-text, .golf-text, .renthome-text, .rentcar-text{
        text-align: center;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 4rem;
        text-transform: uppercase;
        text-shadow: 2px 2px #333333;
      }

    /*---------------------------MEDIA QUERIES----------------------------------------------------*/
  
  /*PANTALLAS PEQ*/
  @media (max-width: 575.98px) {

    .slide1, .slide2, .slide3, .transport-head, .traslado-head, .excursions-head, .golf-head, .renthome-head, .rentcar-head{
      height: 50vh;
    }

    .slide1, .slide2, .slide3{
      height: 60vh;

    }

    .card{
      margin-top: 3rem;
    }

    .fila2{
      margin-top: 0;
    }
    
    .tabla{
      margin-top: -2rem;
    }

    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      transform: none;
      cursor: pointer;
      /*text-decoration: underline;*/
    }

    .duplicado{
      display: none;
    }
    
    .transport-text, .traslado-text, .excursions-text, .golf-text, .renthome-text, .rentcar-text{
      font-size: 3rem;
    }

    .serv-text{
      font-size: 2rem;
      letter-spacing: 0.5rem;
    }
    
  }

  /*Small devices (landscape phones, 576px and up)*/
  @media (min-width: 576px) { }
  
  /*Medium devices (tablets, 768px and up)*/
  @media (min-width: 768px) {
   }
  
  /* Large devices (desktops, 992px and up)*/
  @media (min-width: 992px) { }
  
  /* X-Large devices (large desktops, 1200px and up)*/
  @media (min-width: 1200px) { }
  
  /* XX-Large devices (larger desktops, 1400px and up)*/
  @media (min-width: 1400px) {  }
